DISCORD_BOT_TOKEN=
DATABASE_URL=postgres://arona:arona@localhost:5434/arona
PRIVACY_POLICY_URL=https://raw.githubusercontent.com/RealFascinated/Shiroko/master/legal/privacy-policy.md
TERMS_OF_SERVICE_URL=https://raw.githubusercontent.com/RealFascinated/Shiroko/master/legal/terms-of-service.md